<div class="list">
  <ul class="toilets">
    <% @beacons.each do |beacon| %>
      <li class="toilet">
        <% unless beacon.user.nil? %>
          <div class="box">
            <%= image_tag status_image(beacon) %>
          </div>
          <%= image_tag "door_close.png" %>
        <% else %>
          <div class="box">
          </div>
        <%= image_tag "door_open.png" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
